*~
*.aux
*.acn
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

clean.sh
